@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .info .container {
        margin: 0 auto;
    }

    .info-movie {
        width: auto;
    }

    .screen .image {
        width: 150px;
        height: 120px;
    }

    #login-area {
        height: 300px;
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 480px;
    }

    .filter-top {
        margin-top: 0;
    }

    .screen ul {
        display: none;
    }


    #login-area {
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 460px;
    }

    .sign-top {
        margin-top: 325px;
        margin-left: calc(380px - 50%);
    }

    .sign-top img {
        width: 120px;
        height: 120px;
    }

    .sign-top h3 {
        font-size: 30px;
    }

    .sign-bottom {
        width: 420px;
        height: auto;
        margin-left: calc(400px - 50%);
    }

    .sign-data {
        margin-top: 100px;
    }

    .sign-data input {
        max-width: 150px;
    }


    #login-area {
        height: 350px;
        width: 320px;
        margin-left: calc(400px - 50%);
    }

    #login-area .sign-data {
        margin-top: 20px;
    }
}