/* Комментарi */

.comment {
  text-align: left;
}

.comment h3 {
  margin-left: 30px;
  color: #ffffff;
}

.comment form textarea {
  width: calc(100% - 70px);
  padding: 15px;
  color: #c3073f;
  margin: 0 20px;
  line-height: 25px;
  height: 120px;
}

.comment form textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.comment form textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.comment form textarea::-webkit-scrollbar-thumb {
  background-color: #c3073f;
  border-radius: 50px;
  background-image: -webkit-gradient(linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.5, transparent),
      to(transparent));
}

#comment-area:focus {
  box-shadow: 0 0 15px rgb(255, 19, 19, 1);
  -webkit-box-shadow: 0 0 15px rgba(255, 19, 19, 1);
  -moz-box-shadow: 0 0 15px rgba(255, 19, 19, 1);
  border: 1px solid #ffffff;
}

.comment-btn {
  width: 131px;
  height: 49px;
  background: #c3073f;
  border: 0;
  font-size: 15px;
  padding: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 87%;
}

.comment-btn:hover {
  background: #ffffff;
  color: #c3073f;
  cursor: pointer;
}

#comment_list {
  margin-left: 30px;
  margin-right: 16px;
}

#comment_list h4 {
  color: #ffffff;
}

.comments {
  margin-bottom: 0.25em;
  width: 100%;
}

.name {
  margin-left: 1em;
  color: #c3073f;
}

.text_comment {
  margin: 0 2em;
  background: rgb(74 68 68 / 17%);
  padding: 10px;
  border-radius: 25px;
}

.text_comment p {
  margin: 0;
  font-size: 20px;
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
}