/*FILTER BLOCK*/
.main-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  flex-direction: column;
}

.filter-bottom {
  box-sizing: border-box;
  width: 479px;
  height: 497px;
  background: linear-gradient(
    109.46deg,
    rgba(201, 201, 201, 0.5) 1.57%,
    rgba(196, 196, 196, 0.1) 100%
  );
  backdrop-filter: blur(60px);
  border-radius: 27px;
  padding: 1.25em;
}

.filter-top {
  text-align: center;
}

.filter-img {
  width: 150px;
  height: 150px;
}

.filter-top h1 {
  color: #c3073f;
  margin: 10px 0px;
  text-align: center;
}

.filter-top p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #5a5a5a;
}

.filter-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.filter-radio + label {
  position: relative;
  padding: 0 10px 0 25px;
  cursor: pointer;
}

.filter-radio + label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #cdd1da;
  border-radius: 50%;
  background: #fff;
}

.filter-radio + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #c3073f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
}

.filter-radio:checked + label:after {
  opacity: 1;
}

.filter-radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 19, 19, 0.885);
}

.filter-bottom p {
  font-size: 1em;
}

.filter-bottom label,
.filter-bottom p {
  color: #ffffff;
}

.filter-type {
  max-height: 60px;
}

.filter-data input {
  padding: 10px 12px;
  background: linear-gradient(
    109.46deg,
    rgba(201, 201, 201, 0.8) 1.57%,
    rgba(196, 196, 196, 0.1) 100%
  );
  opacity: 0.5;
  backdrop-filter: blur(60px);
  border-radius: 7px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  max-width: 175px;
  outline: none;
}

.filter-data input:focus {
  box-shadow: 0 0 5px rgb(255, 19, 19, 1);
  -webkit-box-shadow: 0 0 5px rgba(255, 19, 19, 1);
  -moz-box-shadow: 0 0 5px rgba(255, 19, 19, 1);
  border: 1px solid #ffffff;
}

.filter-data #yearFrom {
  margin-right: 24px;
}

.filter-data p,
.filter-category p {
  margin-top: 25px;
}

.filter-category__item {
  border: 2px solid #c3073f;
  border-radius: 20px;
  padding: 5px 20px;
  display: inline-block;
  color: #ffffff;
  margin: 4px;
  font-weight: 600;
  font-size: 16px;
}

.filter-category__item:hover {
  color: #950740;
  cursor: pointer;
}

.filter-category__item.selected {
  border: 2px solid #5fc307;
  color: #ffffff;
}


.filter-btn:hover,
.trailer:hover,
.sign:hover,
.rega:hover {
  background: #ffffff;
  color: #c3073f;
  cursor: pointer;
}
