@media screen and (max-width: 1200px) {
  .container {
    max-width: 995px;
  }

  .movie {
    max-width: 995px;
  }

  .search {
    padding-left: 78px;
  }
}

@media screen and (max-width: 1024px) {
  .movie {
    max-width: 768px;
  }
}

@media screen and (max-width: 786px) {
  header {
    margin-bottom: 38px;
  }

  .header-top .container {
    width: 580px;
  }

  .logo img {
    margin-top: 12px;
  }

  .link {
    max-width: 200px;
  }

  .sign,
  .rega {
    font-size: 14px;
  }

  .logo img {
    width: 120px;
    height: 55px;
  }

  .movie {
    max-width: 500px;
  }

	.header-top .container {
		width: 100%;
	}
}

@media screen and (max-width: 580px) {
  .header-top .container {
    width: 480px;
  }

  .search {
    padding-left: 40px;
  }

  #search__input {
    max-width: 127px;
  }
}


@media screen and (max-width: 480px) {
  .container {
    max-width: 460px;
  }

  .movie {
    max-width: 460px;
  }
}