#register-form {
  text-align: center;
}

#register-form input {
  max-width: 90% !important;

  padding: 10px;
  width: 100%;
}

#register-form input::placeholder {
  color: #fff;
}

#register-button {
  max-width: 95%;
}

#register-area p {
  text-align: center;
}
